spring:
  redis:     
    host: 127.0.0.1
    database: 1
    port: 6379
    password:
  rabbitmq:
      host: 127.0.0.1
      port: 5672
      username: guest
      password: guest

management:
  security:
    enabled: false 
